.App {
  text-align: center;
}

.summary-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

textarea {
  height: 150px;
}

td {
  border: solid #434443 1px;
}

li {
  list-style-type: none;
}

.cell-date {
  font-weight: bold;
  margin-bottom: 4px;
}

.pair {
  padding: 4px;
}

.pair-0 {
  background-color: #d0acef;
}

.pair-1 {
  background-color: #8BF67E;
}

.pair-2 {
  background-color: #7ECBF6;
}

.pair-3 {
  background-color: #CB7EF6;
}

.pair-4 {
  background-color: #F8B3D9;
}

.pair-5 {
  background-color: #E3535F;
}

.pair-6 {
  background-color: #F6C87E;
}

.pair-7 {
  background-color: #7ef6e4;
}

.pair-8 {
  background-color: #f6e87e;
}

.pair-9 {
  background-color: #a6f67e;
}