.App {
  text-align: center;
}

.summary-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.create-calendar {
  background-color: #7ef6e4;
  border: transparent;
}

.download-calendar:hover {
  background-color: #d0acef;
  color: white;
}

textarea {
  height: 150px;
}

td {
  border: solid #434443 1px;
}

li {
  list-style-type: none;
}

.cell-date {
  font-weight: bold;
  margin-bottom: 4px;
}

.pair {
  padding: 4px;
  border: 4px dashed #434443;
}

.pair-legend {
  border: #434443 3px dashed;
  padding: 1px;
}

.pair-0 {
  border-color: #d0acef;
}

.pair-1 {
  border-color: #8BF67E;
}

.pair-2 {
  border-color: #7ECBF6;
}

.pair-3 {
  border-color: #CB7EF6;
}

.pair-4 {
  border-color: #F8B3D9;
}

.pair-5 {
  border-color: #E3535F;
}

.pair-6 {
  border-color: #F6C87E;
}

.pair-7 {
  border-color: #7ef6e4;
}

.pair-8 {
  border: 3px solid #f6e87e;
}

.pair-9 {
  border: 3px solid #a6f67e;
}