.App {
  text-align: center;
}

textarea {
  height: 100px;
}

th {
  border: 1px solid black;
  border-spacing: 0px;
  padding: 4px;
  margin: 0px;
}

td {
  border: 1px solid black;
  padding: 4px;
}

td li {
    padding-bottom: 5px;
    width: max-content;
    text-align: center;
}

li {
  list-style-type: none;
}